@import "tailwindcss";
.services-section {
  padding: 60px 40px;
  background-color: #0d0d0d;
  text-align: center;
  color: #fff;
}

.services-section .section-title {
  font-size: 36px;
  color: #fff;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 0 3px #f7901e;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  justify-content: center;
}

.service-card {
  background-color: #0d0d0d;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 12px rgba(255, 138, 18, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(255, 138, 18, 0.4);
}

.service-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 20px;
  color: #f7901e;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 15px;
  line-height: 1.6;
}